__pycache__/
*.pyc
*.pyo

.venv/
env/
venv/
ENV/

.env
.env_*
.env_local

.idea/
.vscode/
*.code-workspace

logs/
*.log

.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/

build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/
share/python-wheels/

.ipynb_checkpoints/

*.manifest
*.spec

db.sqlite3
instance/

alembic.ini
migrations/
